# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\cafein_crawling\GOOGLE_CRAWLING-20220830T081128Z-001\GOOGLE_CRAWLING\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
